* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #ecf0f3;
  font-family: sans-serif;
  outline: none;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  background-color: #ecf0f3;
  padding: 15px;
  border-radius: 30px;
  box-shadow: inset 5px 5px 10px #ffffff, 5px 5px 10px rgba(0, 0, 0, 0.16);

  display: grid;
  grid-template-columns: repeat(4, 70px);
}

input {
  grid-column: span 4;
  height: 70px;
  width: 260px;
  background-color: #ecf0f3;
  /* box-shadow: inset -5px -5px 12px #ffffff, 5px 5px 12px rgba(0, 0, 0, 0.16); */
  box-shadow: inset 5px 5px 10px rgb(212, 212, 212), 5px 5px 12px #ffffff;

  border: none;
  border-radius: 30px;
  font-size: 40px;
  text-align: end;
  color: rgb(70, 70, 70);
  margin: auto;
  margin-top: 40px;
  margin-bottom: 30px;
  padding: 20px;
}

button {
  height: 50px;
  width: 50px;
  background-color: #ecf0f3;
  box-shadow: inset -5px -5px 12px #ffffff, 5px 5px 12px rgba(0, 0, 0, 0.16);
  border-radius: 50%;
  border: none;
  margin: 10px;
  font-size: 17px;
  cursor: pointer;
  transition: all 850ms ease;
}

.equal {
  border-radius: 30px;
  width: 7.5rem;
  box-shadow: none;
  background-color: #66a80f;
  box-shadow: inset 5px 5px 10px #94d82d, 5px 5px 10px rgba(0, 0, 0, 0.16);
  color: #ecf0f3;
}

.clear {
  font-weight: 600;
  color: #c92a2a;
  box-shadow: inset -5px -5px 12px #ffffff, 5px 5px 12px rgba(0, 0, 0, 0.16);
}

.del {
  font-size: 16px;
  font-weight: 600;
  color: #c92a2a;
  box-shadow: inset -5px -5px 12px #ffffff, 5px 5px 12px rgba(0, 0, 0, 0.16);
}
.op {
  padding: 15px;
  font-size: 20px;
  text-align: center;
  background-color: #f59f00;
  box-shadow: inset 5px 5px 10px #ffd43b, 5px 5px 10px rgba(0, 0, 0, 0.16);
  color: #ecf0f3;
}

.dot {
  font-size: 15px;
  font-weight: 900;
}

.sz {
  font-size: 25px;
}

.tm {
  padding: 0;
}
